<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="single">
    <div id="display">
  <video id="video" src="" autoplay="" loop="" muted=""></video>
</div>
    {{ partial "header.html" . }}
    <main class="list_container">
      <div class="single_container">
        <div class="single_header">
          <h4 class="single_title">
            {{.Title}}
          </h4>
          <time class="single_time">
            {{.Params.time}}
          </time>
          <aside class="single_cat">
            {{.Params.cat}}
          </aside>
          <!-- <br><br>
          <div class="single_description">
            {{.Description}}
          </div> -->
        </div>
        <div class="single_content">
          {{.Content}}
        </div>
        <div class="single_related">
          {{if .Params.relatedLinks}}
          <ul class="single_related_links">
            {{range .Params.relatedLinks}}
            <li>
              <a href="{{.}}" title="{{.}}" target="_blank">
                {{.}}
              </a>
            </li>
            {{end}}
          </ul>
          {{end}}
        </div>
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
