
@font-face {
  font-family: "Arial";
  font-weight: 400;
  src: url("/fonts/Arial.woff") format('woff');
}

*{
  font-family: "Arial";
  font-weight: 400;
  user-select: none;
  -webkit-user-select:none;
   -moz-user-select:none;
   -webkit-touch-callout:none;
    -ms-user-select:none;
  margin: 0;
  padding: 0;
  border-style: hidden;
  font-size: 18px;
  line-height: 1.3em;
  text-transform: lowercase;
}
@media (max-height: 900px){
  *{
    font-size: 16px;
  }
}
@media (max-height: 720px){
  *{
    font-size: 14px;
  }
}
@media (max-height: 480px){
  *{
    font-size: 12px;
  }
}
body,html{
  background: #eeeeee;
  color: #111111;
}
a{
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
}
i{
  font-style: italic;
}
img,video{
  width: 100%;
  height: auto;
}
.header_menu,.footer_menu{
  display: flex;
  justify-content: space-between;
}
.header{
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  /* background: #eeeeee; */
  z-index: 1;
  height: 1rem;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  /* background: #eeeeee; */
}
.cv main,
.imprint main{
  padding: 4rem 1rem 33vh 1rem;
  max-width: 480px;
}
.cv h2{
  position: absolute;
  left: 1rem;
}
.cv p{
  margin-left: 4rem;
  margin-bottom: 0.1rem;
}
.cv hr,
.imprint hr{
  height: 1rem;
  opacity: 0;
}
body.index{
  overflow-y: hidden;
  overflow-x: scroll;
}
.index main{
  width: auto;
  height: 100vh;
  display: flex;
  font-size: 0;
}
.index main img,
.index main video{
  height: 100%;
  width: auto;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}
.index main a:first-of-type{
  padding-left: 33vw;
}
.index main a:last-of-type{
  padding-right: 33vw;
}
.index main a{
  padding: 0;
  margin: 0;
  font-size: 0;
}
.index .header,
.index .footer{
  background-color: transparent;
}
.single main{
  margin-top: 3rem;
  margin-bottom: 33vh;
}
.single_header{
  position: fixed;
  top: 3rem;
  left: 1rem;
  max-width: 240px;
}
.single_related{
  position: fixed;
  bottom: 6rem;
  left: 1rem;
  width: 33vw;
}
.single_related_links li{
  display: block;
  text-decoration: underline;
}
.single_content{
  width: 50vw;
  margin-left: 50vw;
  display: flex;
  z-index: 2;
}
.single_content *{
  font-size: 0 !important;
  display: inline;
}

#display{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #eeeeee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}
.image-active #display,
.video-active #display{
  opacity: 1;
  pointer-events: all;
}
.video-active #video{
  opacity: 1;
}
@media (max-width: 900px){
  .single_header{
    position: inherit;
    padding: 0 1rem;
    max-width: none;
    margin-bottom: 6rem;
  }
  .single_related{
    position: inherit;
    padding: 0 1rem;
    margin-top: 6rem;
    width: calc(100% - 2rem);
  }
  .single_content{
    width: 100%;
    margin-left: 0;
  }
}
@media (max-aspect-ratio: 1/1) {
  .desktop{
    display: none;
  }
  body.index{
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .index main{
    width: 100vw;
    height: auto;
    display: block;
  }
  .index main img,
  .index main video{
    height: auto;
    width: 100%;
  }
  .index main a:first-of-type{
    padding-left: 0;
  }
  .index main a:last-of-type{
    padding-right: 0;
  }
  .index main a:first-of-type img{
    padding-top: 20vh;
  }
  .index main a:last-of-type img,
  .index main a:last-of-type video{
    padding-bottom: 20vh;
  }
}
