/* @font-face {
  font-family: "Space Mono";
  font-weight: 400;
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "JB";
  font-weight: 400;
  src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "JB";
  font-weight: 700;
  src: url("/fonts/JetBrainsMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("/fonts/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("/fonts/RobotoMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Source";
  font-weight: 400;
  src: url("/fonts/SourceCodePro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source";
  font-weight: 700;
  src: url("/fonts/SourceCodePro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PT";
  font-weight: 400;
  src: url("/fonts/PTMono-Regular.ttf") format("truetype");
} */
@font-face {
  font-family: "IBM";
  font-weight: 400;
  src: url("/fonts/IBMPlexMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBM";
  font-weight: 700;
  src: url("/fonts/IBMPlexMono-Bold.ttf") format("truetype");
}

*{
  font-family: "IBM";
  font-weight: 400;
  user-select: none;
  -webkit-user-select:none;
   -moz-user-select:none;
   -webkit-touch-callout:none;
    -ms-user-select:none;
  margin: 0;
  padding: 0;
  border-style: hidden;
  font-size: 18px;
  line-height: 1.3em;
  te
}
@media (max-height: 900px){
  *{
    font-size: 16px;
  }
}
@media (max-height: 720px){
  *{
    font-size: 14px;
  }
}
@media (max-height: 480px){
  *{
    font-size: 12px;
  }
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
body,html{
  background: #eeeeee;
  color: #111111;
}
a{
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
}
i{
  font-style: italic;
}
img,video{
  width: 100%;
  height: auto;
}
.header_menu,.footer_menu{
  display: flex;
  justify-content: space-between;
}
.header{
  position: fixed;
  left: 8rem;
  top: 8rem;
  width: calc(100% - 12rem);
}
.footer{
  position: fixed;
  left: 8rem;
  bottom: 4rem;
  width: calc(100% - 12rem);
}
#index{
  background-image: url("/index/dino_desktop_lores.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.index h1{
  font-weight: 400;
}
.index main{
  margin-left: 8rem;
}
.index_container{
  position: fixed;
  top: 14rem;
  height: calc(100% - 20rem);
  left: 0;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
}
.index_list{
  height: 100%;
  width: calc(8 * 22vw);
  overflow: hidden;
  overflow-x: auto;
  margin-left: 8rem;
  display: flex;
}
.index_list_item{
  width: 20vw;
  margin-right: 1rem;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.list_menu{
  position: fixed;
  width: 20vw;
  top: 14rem;
  left: 8rem;
  height: calc(100% - 22rem);
  overflow: hidden;
  overflow-y: auto;
}
.single_container{
  position: fixed;
  width: calc(70vw - 20rem);
  right: 12rem;
  bottom: 0;
  top: 0;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.single_time{
  font-style: italic;
  font-weight: bold;
}
.single_description,
.single_cat{
  font-style: italic;
}
.single_header{
  margin-bottom: 5rem;
}
.single_content p,
.single_content img,
.single_content video,
.single_content iframe{
  margin-bottom: 2rem;
}
.single .single_content p,
.single_description
{
  max-width: 30vw;
}
.single .single_content p{
  margin-left: 4rem;
}
.single_related{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.single_related li{
  display: block;
}
.single_related a{
  text-decoration: underline;
}
.single_related_links,
.single_related_works{
  width: 50%;
}
.topic{
  margin-bottom: 1rem; /*1*/
}
.topic_container{
  margin: 1.5rem 0;
}
.topic_container .topic{
  margin: 0;
}
.topic_list_item,
.list_menu_item{
  display: block;
  margin-bottom: 1.5rem; /*0.5*/
}
#display{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #eeeeee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}
.image-active #display,
.video-active #display{
  opacity: 1;
  pointer-events: all;
}
.video-active #video{
  opacity: 1;
}
.nopad{
  padding: 0 !important;
  margin: 0 !important;
}
.cv h2{
  position: absolute;
  left: 0;
}
.cv .single_content p{
  margin-left: 4rem;
}
#video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
}
.video-active #video{
  opacity: 1;
}

.index main{
  position: fixed;
  left: 8rem;
  margin-left: 0;
  height: auto;
}
.topic-dino main{
  top: 14rem;
}
.topic-xeroxpark main{
  top: 14rem;
}
.topic-hykom main{
  bottom: 14rem;
  top: auto;
}
#indexDescription{
  display: block;
}
@media (max-width: 1000px){
  #index{
    background-image: url("/index/dino_mobile_lores.jpg");
  }
  .header{
    left: 0;
    top: 0;
    padding: 2rem;
    width: calc(100% - 4rem);
    background: #eeeeee;
    z-index: 10000;
  }
  .footer{
    left: 0;
    bottom: 0;
    padding: 2rem;
    width: calc(100% - 4rem);
    background: #eeeeee;
    z-index: 10000;
  }
  main{
    width: calc(100% - 4rem);
    padding: 14rem 2rem;
  }
  .index_container{
    position: inherit;
    height: auto;
    width: auto;
    overflow: visible;
  }
  .index_list{
    height: auto;
    width: auto;
    overflow: visible;
    margin-left: 0;
    display: inline-block;
  }
  .index_list_item{
    width: auto;
    margin-right: 0;
    display: block;
    margin-bottom: 5rem;
  }
  .list_menu{
    position: inherit;
    width: auto;
    height: auto;
    overflow: visible;
  }
  .single_container{
    position: inherit;
    width: auto;
    overflow: visible;
    padding: 0;
    padding-bottom: 8rem;
  }
  .single main{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .single .single_header,
  .single .list_menu,
  .single .single_content p,
  .single .single_related{
    padding: 0 2rem;
    width: calc(100% - 4rem);
    max-width: none;
    margin-left: 0;
  }
  .single .single_description{
    max-width: none;
    margin-left: 0;
  }
  .single_related{
    display: block;
  }
  .single_related_links{
    margin-top: 1rem;
  }
  .single_related_links,
  .single_related_works{
    width: 100%;
  }
  .cv h2{
    left: 2rem;
  }
  .index .header,
  .index .footer{
    background: transparent;
  }
  h1{
    font-weight: 400;
  }
  .index main{
    margin-left: 0rem;
    left: 2rem;
    padding: 0;
  }
  .topic-dino main{
    top: 40vh;
  }
  .topic-xeroxpark main{
    top: 40vh;
  }
  .topic-hykom main{
    bottom: 15vh;
    top: auto;
  }
}
