html,body{
  font-size: 18px;
  line-height: 1rem;
  font-family: monospace;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  color: white;
}
.header,.footer{
  position: fixed;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  background: black;
}
.header{
  top: 0;
}
.footer{
  bottom: 0;
}
.main{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50vw;
  height: 50vw;
}
.main>ul>li{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 50vw;
  overflow-x: hidden;
  overflow-y: auto;
}
.main>ul>li:not(.active):not(:hover):not(:active){
  opacity: 0.2;
  overflow: hidden;
}
.main>ul>li.plane.active,
.main>ul>li.plane:active,
.main>ul>li.plane:hover{
  opacity: 1;
  z-index: 100 !important;
  font-weight: bold;
}
