<div class='inner'>
  <ul class="left">
    <li>
      <a href="/">designing</a>
    </li>
    <li>
      <a href="/">coding</a>
    </li>
    <li>
      <a href="/">creating</a>
    </li>
  </ul>
  <ul class="center">
    <li>
      <a href="/">interactive</a>
    </li>
    <li>
      <a href="/">minimal</a>
    </li>
    <li>
      <a href="/">avantgarde</a>
    </li>
  </ul>
  <ul class="right">
    <li>
      <a href="/">spaces</a>
    </li>
    <li>
      <a href="/">websites</a>
    </li>
    <li>
      <a href="/">projects</a>
    </li>
    <li>
      <a href="/">experiences</a>
    </li>
  </ul>
</div>
