
<div class="row" title="More about {{ if (isset .Params "title") }}{{.Param "title"}}{{end}}">
  <!--DATA2-->
  <div class="data data-2 data-no-hover">
    {{ dateFormat "2006" .Date }}
  </div>
  <div class="data data-2 data-hover">
    {{ if (isset .Params "link") }}
    <a class="data-link" href='{{.Param "link" }}' target="_blank" title="{{.Title}}">Link</a>
    {{else}}
    {{ dateFormat "2006" .Date }}
    {{end}}
  </div>
  <!--DATA3-->
  <div class="data data-3">
    {{ if (isset .Params "types") }}{{.Param "types"}}{{end}}
  </div>
  <!--DATA4-->
  <div class="data data-4">
    <span class="data-no-hover">
      {{ if (isset .Params "title") }}{{.Param "title"}}{{end}}
    </span>
    <span class="data-hover">
      {{ if (isset .Params "description") }}<p>{{.Param "description"}}&nbsp{{.Param "description"}}&nbsp{{.Param "description"}}&nbsp{{.Param "description"}}&nbsp{{.Param "description"}}&nbsp{{.Param "description"}}</p>{{end}}
    </span>
  </div>
  <div class="content">
    {{ if (isset .Params "description") }}<p class="description">{{.Param "description"}}</p>{{end}}
    {{.Content}}
  </div>
</div>
