<html>
<head>
  <title>3404</title>
  <meta name="title" content="3404"/>
  <meta name="description" content="Ight imma head out!"/>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/ht	ml;charset=utf-8" />
  {{ $style := resources.Get "css/404.css" | minify | fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}"/>
</head>
<body class='404'>
  <h1 class="headline"></h1>
  <div class="description"><span class="highlight">Click on the cow</span> to get to homepage</div>
  <a href="/" title="Back to homepage" class="cow">
    <img src="/img/cow_red.gif" alt="">
  </a>
</body>
</html>
