<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body id="index" class="index">
    {{ partial "header.html" . }}
    <main class="index_container">
        <a href="./untitled-process/" title="Untitled Process">
          <img id="untitled-process" src="./index/untitled-process/1.jpg">
        </a>
        <a href="./tram/" title="TRAM">
          <img id="tram" src="./index/tram/1.jpg">
        </a>
        <a href="./tram/" title="TRAM">
          <video src="./index/tram/2.mp4" poster="./index/tram/poster2.jpg" autoplay muted loop playsinline>
        </a>
        <a href="./tram/" title="TRAM">
            <video src="./index/tram/3.mp4" poster="./index/tram/poster3.jpg" autoplay muted loop playsinline>
        </a>
        <a href="./dervierteraum/" title="Der Vierte Raum">
          <video id="der-vierte-raum" src="./index/dervierteraum/1.mp4" poster="./index/dervierteraum/poster1.jpg" autoplay muted loop playsinline>
        </a>
        <a href="./hykom/" title="HYKOM">
          <img src="./index/hykom/2.jpg">
        </a>
        <a href="./razivo/" title="Ralf Ziervogel">
          <video id="ralf-ziervogel" src="./index/razivo/1.mp4" poster="./index/razivo/poster1.jpg" autoplay muted loop playsinline>
        </a>
        <a href="./acid/" title="ACID">
          <video id="acid" src="./index/acid/1.mp4" poster="./index/acid/poster1.jpg" autoplay muted loop playsinline>
        </a>
        <a href="./acid/" title="ACID">
          <video src="./index/acid/2.mp4" poster="./index/acid/poster2.jpg" autoplay muted loop playsinline>
        </a>
        <a href="./musicforbots/" title="Music For Bots">
          <img id="music-for-bots" src="./index/musicforbots/1.jpg">
        </a>
        <a href="./musicforbots/" title="Music For Bots">
          <img src="./index/musicforbots/2.jpg">
        </a>
        <a href="./vonhiernachda/" title="Von Hier nach Da">
          <video id="von-hier-nach-da" src="./index/vonhiernachda/1.mp4" poster="./index/vonhiernachda/poster1.jpg" autoplay muted loop playsinline>
        </a>
        <a href="./vonhiernachda/" title="Von Hier nach Da">
          <video src="./index/vonhiernachda/2.mp4" poster="./index/vonhiernachda/poster2.jpg" autoplay muted loop playsinline>
        </a>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
