<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="list">
    <div class="header">
      <div class="row">
        <!-- <div class="data data-1">

        </div> -->
        <div class="data data-2">
          Date
        </div>
        <div class="data data-3">
          Typ
        </div>
        <div class="data data-4">

        </div>
      </div>
    </div>
    <div class="table">
      {{ range .Pages }}
      {{ partial "item.html" . }}
      {{end}}
    </div>
    <div class="footer">
      <div class="row">
          <!-- <div class="data data-1">
            <ul>
              <li>
                <a href="https://instagram.com/acidatm" target="_blank"><img src="/img/icons/4.png" alt="Instagram"></a>
              </li>
              <li>
                <a href="https://github.com/acidatm" target="_blank"><img src="/img/icons/3.png" alt="Github"></a>
              </li>
              <li>
                <a href="https://acidatm.itch.io/" target="_blank"><img src="/img/icons/2.png" alt="itch.io"></a>
              </li>
              <li>
                <a href="https://soundcloud.com/acidatm" target="_blank"><img src="/img/icons/1.png" alt="Soundcloud"></a>
              </li>
              <li>
                <a href="https://acidatm.bandcamp.com" target="_blank"><img src="/img/icons/5.png" alt="Bandcamp"></a>
              </li>
              <li>
                <a href="https://open.spotify.com/artist/2mYH24BGh8rLGKI8FaHess?si=2VpLOQk8SMOJJUcI83mEsg" target="_blank"><img src="/img/icons/0.png" alt="Spotify"></a>
              </li>
            </ul>
          </div> -->
        <div class="data data-2">

        </div>
        <div class="data data-3">

        </div>
        <div class="data data-4">
          <a href="/impressum.txt">Impressum</a>
        </div>
      </div>
    </div>
    <footer>
    </footer>
    {{ partial "footer.html" . }}
  </body>
</html>
